{% extends "base.html" %}

{% load bootstrap4 %}
{% load static %}

{% block title %}イベント一覧{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mb-3">イベント一覧</h1>
    <div class=mb-3>
        <a href="{% url 'enkai:event_create' %}" class="btn btn-primary">新規作成</a>
    </div>
    <div class="container  border-bottom-0">
        <div class="row mb-4 mb-lg-0">
            <div class="col-lg-1 bg-secondary text-white p-2 border">ID</div>
            <div class="col-lg-2 bg-secondary text-white p-2 border">イベント名</div>
            <div class="col-lg-2 bg-secondary text-white p-2 border">カテゴリ</div>
            <div class="col-lg-2 bg-secondary text-white p-2 border">最大参加者数</div>
            <div class="col-lg-2 bg-secondary text-white p-2 border">現在の参加者数</div>
            <div class="col-lg-2 bg-secondary text-white p-2 border">主催者</div>
            <div class="col-lg-1 bg-secondary text-white p-2 border">表示</div>
        </div>
        {% for o in object_list  %}
        <div class="row mb-4 mb-lg-0">
            <div class="col-lg-1 bg-light p-2 border">{{o.id}}</div>
            <div class="col-lg-2 p-2 border">{{o.name}}</div>
            <div class="col-lg-2 p-2 border">{{o.category.name}}</div>
            <div class="col-lg-2 p-2 border">{{o.max_participant}}</div>
            <div class="col-lg-2 p-2 border">{{o.eventuser_set.all | length }}</div>
            <div class="col-lg-2 p-2 border">{{o.user }}</div>
            <div class="col-lg-1 p-2 border">
                <a href="{% url 'enkai:event_detail' o.id %}">表示</a>
            </div>
        </div>
        {% endfor %}
    </div>    
</div>
{% endblock %}
