#title {
    background-color: blue;
    color: white;
}
#subtitle{
    background-color: grey;
    color: white;
}
ul.errorlist {
    padding: 10px;
}
ul.errorlist li{
    list-style :none ;
    color: red;
    font-size: 0.8em;
}
.google_image{
    height: 48px;
}
