{% extends "base.html" %}

{% load i18n %}
{% load bootstrap4 %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="col-md-6 offset-md-3">
        <h1 class="m-3 font-weight-normal text-center">{% trans "Change Password" %}</h1>
        <form action="{% url 'account_change_password' %}" method="post" novalidate>
            {% bootstrap_form_errors form layout='inline' %}
            {% bootstrap_form form layout='inline' %}
            {% csrf_token %}
            <button type="submit" class="btn btn-primary" >パスワード更新</button>
            <hr>
            <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        </form>
    </div>
</div>
{% endblock %}
