{% extends "base.html" %}

{% load bootstrap4 %}
{% load static %}

{% block title %}カテゴリ新規作成{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mb-3">カテゴリ新規作成</h1>
    <div class="mb-3">
        <a href="{% url 'enkai:category_list'%}" class="btn btn-primary">一覧に戻る</a>
    </div>
    <form action="{% url 'enkai:category_create' %}" method="post" novalidate>
        {% bootstrap_form form %}
        {% csrf_token %}
        <button type="submit" class="btn btn-success" >登録</button>
        <hr>
    </form>
</div>
{% endblock %}
